Package: com.michaelmelita1.chromahomebar
Name: ChromaHomeBar
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: ChromaHomeBarX Rootless
Maintainer: michaelmelita1
Author: michaelmelita1
Section: Tweaks
